@charset "utf-8";
body{border:none !important}
#login{margin:130px auto 0;max-width:492px}
#login .header{margin-bottom:0;background-color:#374B65}
#login .logo{width:120px;padding:12px 10px;text-align:center}
#login .logo > img{max-width:100%}
#login .header.mobile_view{background-color:transparent}
#login .mobile_view .logo{width:100%;background-color:#374B65}
#login .mobile_view .title{margin-top:10px;padding-right:0;text-align:center;color:#555}
#login .title{padding-right:12px;text-align:right;color:#e7e7e7}
#login .image > img{max-width:100%}
#login .nav{font-weight:bold}
.login_area .tab-content{padding:25px 30px 25px;background-color:#fff}
.login_area .control-label{padding-top:7px}
.login_area .row{margin-bottom:10px;}
.login_area .btn.login{margin-top:10px}
#login_footer{margin-top:10px;padding-top:10px;border-top:1px solid #e7e7e7;text-align:center}

#password_advice{margin:100px auto;max-width:600px}/*250929*/
#password_advice h2{margin-top:0;text-align:center;font-weight:bold}
#password_advice .icon{text-align:center;font-size:80px}
#password_advice .subtitle{text-align:center;font-size:18px}
#password_advice .note{margin-top:20px;padding:17px 20px 10px}
#password_advice .note > p{margin-bottom:5px}

/* 비밀번호 검사 */
.validte_password{list-style:none; margin: 0; padding: 0 0 0 15px; }
.validte_password li{color: #888; line-height: 22px; }
.validte_password li.valid{color: #e14430; }

@media screen and (max-width:1024px){
	#login{margin-top:80px}
	#password_advice{margin-top:10px;margin-bottom:10px;}/*250929*/
	#password_advice .icon{margin-bottom:0}
} 

@media screen and (max-width:768px){
	#login{margin-top:0px}
	.login_area .tab-content{padding:25px 20px 20px}
	.login_area{margin:15px 10px}
	
	#password_advice{margin-top:0;padding:13px;margin-bottom:0;}/*250929*/
	#password_advice h2{font-size:18px;line-height:24px;}
	#password_advice .note{font-size:11px}
	#password_advice .subtitle{font-size:14px;line-height:20px}
	#password_advice .well{padding-left:5px}
} 
